{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
  <div id="app" class="clearfix">
    <div class="map-container col-sm-8 col-lg-9">
      <div>
        <div id="map-canvas"></div>
      </div>
    </div>
    <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
      <div class="col-xs-6 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body ADD">
            <div id="hotelDropdown">
              <h4>Hotels</h4>
              <select>
                {% for hotel in all_hotels %}
                <option>{{ hotel.name }}</option>
                {% endfor %}
              </select>
              <button id="hotelAddButton" class="btn btn-primary btn-circle pull-right">+</button>
            </div>
            <div id="restaurantDropdown">
              <h4>Restaurants</h4>
              <select>
                {% for restaurant in all_restaurants %}
                <option>{{ restaurant.name }}</option>
                {% endfor %}
              </select>
              <button id="restaurantAddButton" class="btn btn-primary btn-circle pull-right">+</button>
            </div>
            <div id="activitiesDropdown">
              <h4>Activities</h4>
              <select>
                {% for activity in all_activities %}
                <option>{{ activity.name }}</option>
                {% endfor %}
              </select>
              <button id="activitiesAddButton" class="btn btn-primary btn-circle pull-right">+</button>
            </div>
          </div>
        </div>
      </div>
      <div id="dayAreaTitle" class="col-xs-6 col-sm-12">
      <!-- Given Sample: -->
        <h3>
          <span>
            <span id="day-title">Day 1</span>
            <button id="REMOVEDAY" class="btn btn-xs btn-danger remove btn-circle">x</button>
          </span>
        </h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="day-buttons">
              <div id="existingDays">
                <button class="btn btn-circle day-btn current-day">1</button>
              </div>
              <!-- <button class="btn btn-circle day-btn">2</button> -->
              <!-- <button class="btn btn-circle day-btn">3</button> -->
              <button class="btn btn-circle day-btn" id="ADD-DAY">+</button>
            </div>
          </div>
          <div class="panel-body REMOVE">
            <div id="myHotel">
              <h4>My Hotel</h4>
              <ul class="list-group">
              <!-- Given Sample: -->
                <!-- <li> <div class="itinerary-item">  -->
                  <!-- <span class="title">Andaz Wall Street</span> -->
                  <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
                <!--</div> </li>-->
              </ul>
            </div>
            <div id="myRestaurants">
              <h4>My Restaurants</h4>
              <ul class="list-group">
              <!-- Given Sample: -->
                <!-- <div class="itinerary-item"> -->
                  <!-- <span class="title">Bouley</span> -->
                  <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
                <!-- </div> -->
                <!-- <div class="itinerary-item"> -->
                  <!-- <span class="title">The Capital Grille</span> -->
                  <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
                <!-- </div> -->
              </ul>
            </div>
            <div id="myActivities">
              <h4>My Activities</h4>
              <ul class="list-group">
              <!-- Given Sample: -->
                <!-- <div class="itinerary-item"> -->
                  <!-- <span class="title">Mahayana Buddhist Temple Association</span> -->
                  <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
                <!-- </div> -->
                <!-- <div class="itinerary-item"> -->
                  <!-- <span class="title">South Street Seaport</span> -->
                  <!-- <button class="btn btn-xs btn-danger remove btn-circle">x</button> -->
                <!-- </div> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  {% autoescape false %}
  var all_hotels = {{ all_hotels | json }};
  var all_restaurants = {{ all_restaurants | json }};
  var all_activities = {{ all_activities | json }};
  {% endautoescape %}
</script>
{% endblock %}